In [ ]:
"""
Rank Scores

Write a SQL query to rank scores. 
If there is a tie between two scores, both should have the same ranking. 
Note that after a tie, the next ranking number should be the next consecutive integer value. 
In other words, there should be no "holes" between ranks

+----+-------+
| Id | Score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
"""

In [ ]:
"""testcase"""
{"headers": {"Scores": ["Id", "Score"]}, "rows": {"Scores": [[1, 3.50], [2, 3.65], [3, 4.00], [4, 3.85], [5, 4.00], [6, 3.65]]}}

In [ ]:
"""SQL table creation and data insertion"""
DROP TABLE IF EXISTS Scores;

CREATE TABLE EXISTS(
Id int(4) NOT NULL,
Score float(10) NOT NULL,
PRIMARY KEY ('Id'));

INSERT INTO Scores VALUES
(1, 3.50),
(2, 3.65),
(3, 4.00),
(4, 3.85),
(5, 4.00),
(6, 3.65);

In [ ]:
"""SQL solution"""
SELECT Score, DENSE_RANK() OVER(ORDER BY Score DESC) AS 'Rank'
FROM Scores

# For MySQL solutions, to escape reserved words used as column names, 
# you can use an apostrophe before and after the keyword. For example `Rank`.

In [1]:
"""pandas dataframe creation"""
import pandas as pd

s = [(1, 3.50),
(2, 3.65),
(3, 4.00),
(4, 3.85),
(5, 4.00),
(6, 3.65)]

Scores = pd.DataFrame(s, columns=['Id', 'Score'])
Scores.head()

   Id  Score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00

In [10]:
Scores['Rank'] = Scores['Score'].rank(method='dense', ascending=False)
Scores[['Score', 'Rank']].sort_values('Score', ascending=False)

   Score  Rank
2   4.00   1.0
4   4.00   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0   3.50   4.0