In [ ]:
"""
Delete Duplicate Emails
Write a SQL query to delete all duplicate email entries in a table named Person, 
keeping only unique emails based on its smallest Id.
"""

In [ ]:
"""testcase"""
{"headers": {"Person": ["Id", "Email"]}, "rows": {"Person": [[1, "john@example.com"], [2, "bob@example.com"], [3, "john@example.com"]]}}

In [ ]:
"""SQL table creation and data insertion"""
DROP TABLE IF EXISTS Person;

CREATE TABLE Person (
Id  int(4) NOT NULL,
Email varchar(32) NOT NULL
);

INSERT INTO Person VALUES
(1, "john@example.com"),
(2, "bob@example.com"),
(3, "john@example.com");

In [ ]:
"""SQL solution"""
DELETE FROM Person
WHERE Id NOT IN
(SELECT *
FROM 
(SELECT MIN(Id)
FROM Person
GROUP BY Email) AS m)

# must use SELECT * FROM m to generate a new table so DELETE could work

In [19]:
"""pandas dataframe creation"""
import pandas as pd

testcase = {"headers": {"Person": ["Id", "Email"]}, "rows": {"Person": [[1, "john@example.com"], [2, "bob@example.com"], [3, "john@example.com"]]}}

Person = pd.DataFrame.from_dict(data=testcase['rows']['Person'])
Person.columns = testcase['headers']['Person']
Person

   Id             Email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [6]:
df = Person.groupby('Email')['Id'].min().reset_index()
df[['Id', 'Email']].sort_values('Id')

   Id             Email
1   1  john@example.com
0   2   bob@example.com