In [ ]:
"""Find salary for all employees, show only once for the same salary, descending"""

In [ ]:
"""SQL table creation and data insertion"""
drop table if exists  `salaries` ; 
CREATE TABLE `salaries` (
`emp_no` int(11) NOT NULL,
`salary` int(11) NOT NULL,
`from_date` date NOT NULL,
`to_date` date NOT NULL,
PRIMARY KEY (`emp_no`,`from_date`));
INSERT INTO salaries VALUES(10001,72527,'2002-06-22','9999-01-01');
INSERT INTO salaries VALUES(10002,72527,'2001-08-02','9999-01-01');
INSERT INTO salaries VALUES(10003,43311,'2001-12-01','9999-01-01');

In [ ]:
"""SQL solution"""
SELECT emp_no, COUNT(*) AS t
FROM salaries
GROUP BY emp_no
HAVING t > 15

In [3]:
"""Pandas dataframe creation"""
import pandas as pd
import numpy as np

salary = np.array([[10001,72527,'2002-06-22','9999-01-01'],
                   [10002,72527,'2001-08-02','9999-01-01'],
                   [10003,43311,'2001-12-01','9999-01-01']
                  ])
salaries = pd.DataFrame(data=salary, columns=['emp_no', 'salary', 'from_date', 'to_date'])
salaries.head()

  emp_no salary   from_date     to_date
0  10001  72527  2002-06-22  9999-01-01
1  10002  72527  2001-08-02  9999-01-01
2  10003  43311  2001-12-01  9999-01-01

In [24]:
pd.Series(salaries['salary'].unique()).sort_values(ascending=False)

0    72527
1    43311
dtype: object