In [ ]:
"""
create a table actor, with the following information
column        type          isnull     meaning 
actor_id      smallint(5)   not null   primary key id
first_name    varchar(45)   not null   first name
last_name     varchar(45)   not null   last name
last_update   date          not null   date
"""

In [ ]:
"""SQL solution"""
CREATE TABLE actor(
    actor_id SMALLINT(5) NOT NULL PRIMARY KEY,
    first_name VARCHAR(45) NOT NULL,
    last_name VARCHAR(45) NOT NULL,
    last_update DATE NOT NULL
)

In [1]:
"""pandas dataframe creation"""
import pandas as pd

df = pd.DataFrame(columns=['actor_id', 'first_name', 'last_name', 'last_update'])
df

Empty DataFrame
Columns: [actor_id, first_name, last_name, last_update]
Index: []