In [ ]:
"""Find the tasks of everyone, including people with no tasks, order by id ascending"""

In [ ]:
"""SQL table creation and data insertion"""
drop table if exists person;
drop table if exists task;

CREATE TABLE `person` (
`id` int(4) NOT NULL,
`name` varchar(32) NOT NULL,
PRIMARY KEY (`id`));

CREATE TABLE `task` (
`id` int(4) NOT NULL,
`person_id` int(4) NOT NULL,
`content` varchar(32) NOT NULL,
PRIMARY KEY (`id`));

INSERT INTO person VALUES
(1,'fh'),
(2,'tm');

INSERT INTO task VALUES
(1,2,'tm works well'),
(2,2,'tm works well');

In [ ]:
"""SQL solution"""
SELECT p.id, p.name, t.content
FROM person AS p 
LEFT JOIN task AS t
ON p.id = t.person_id
ORDER BY p.id

In [3]:
"""pandas dataframe creation"""
import pandas as pd

person = pd.DataFrame([[1, 'fh'],
                       [2, 'tm']],
                      columns=['id', 'name'])
task = pd.DataFrame([[1, 2, 'tm works well'],
                     [2, 2, 'tm works well']],
                    columns=['id', 'person_id', 'content'])
person.head()

   id name
0   1   fh
1   2   tm

In [4]:
task.head()

   id  person_id        content
0   1          2  tm works well
1   2          2  tm works well

In [12]:
df = pd.merge(person, task, left_on='id', right_on='person_id', how='left')
df = df.rename(columns={'id_x':'id', 'id_y':'task_id'})
df

   id name  task_id  person_id        content
0   1   fh      NaN        NaN            NaN
1   2   tm      1.0        2.0  tm works well
2   2   tm      2.0        2.0  tm works well

In [14]:
df[['id','name','content']].sort_values(by='id')

   id name        content
0   1   fh            NaN
1   2   tm  tm works well
2   2   tm  tm works well