In [ ]:
"""Find completed orders of course on C++, Java, or Python after 2025-10-15, order by id of ordeer_info"""

In [ ]:
"""SQL table creation and data insertion"""
drop table if exists order_info;

CREATE TABLE order_info (
id int(4) NOT NULL,
user_id int(11) NOT NULL,
product_name varchar(256) NOT NULL,
status varchar(32) NOT NULL,
client_id int(4) NOT NULL,
date date NOT NULL,
PRIMARY KEY (id));

INSERT INTO order_info VALUES
(1,557336,'C++','no_completed',1,'2025-10-10'),
(2,230173543,'Python','completed',2,'2025-10-12'),
(3,57,'JS','completed',3,'2025-10-23'),
(4,57,'C++','completed',3,'2025-10-23'),
(5,557336,'Java','completed',1,'2025-10-23'),
(6,557336,'Python','no_completed',1,'2025-10-24');

In [ ]:
"""SQL solution"""
SELECT *
FROM order_info
WHERE date > '2025-10-15'
AND status = 'completed'
AND product_name IN ('C++', 'Java', 'Python')
ORDER BY id

In [1]:
"""pandas dataframe creation"""
import pandas as pd

oi = [(1,557336,'C++','no_completed',1,'2025-10-10'),
(2,230173543,'Python','completed',2,'2025-10-12'),
(3,57,'JS','completed',3,'2025-10-23'),
(4,57,'C++','completed',3,'2025-10-23'),
(5,557336,'Java','completed',1,'2025-10-23'),
(6,557336,'Python','no_completed',1,'2025-10-24')]

order_info = pd.DataFrame(oi, columns=['id', 'user_id', 'product_name', 'status', 'client_id', 'date'])
order_info.head()

   id    user_id product_name        status  client_id        date
0   1     557336          C++  no_completed          1  2025-10-10
1   2  230173543       Python     completed          2  2025-10-12
2   3         57           JS     completed          3  2025-10-23
3   4         57          C++     completed          3  2025-10-23
4   5     557336         Java     completed          1  2025-10-23

In [9]:
order_info['date'] = pd.to_datetime(order_info['date'])

In [14]:
courses = ['C++', 'Java', 'Python']
order_info[(order_info['product_name'].isin(courses)) & (order_info['date'] >= '2025-10-15') & (order_info['status'] == 'completed')].sort_values('id')

   id  user_id product_name     status  client_id       date
3   4       57          C++  completed          3 2025-10-23
4   5   557336         Java  completed          1 2025-10-23