In [ ]:
"""Find the grade where the median is, output 1 if there is only 1, order the result by grade ascending if there are 2"""

In [ ]:
"""SQL table creation and data insertion"""
drop table if exists class_grade;
CREATE TABLE class_grade (
grade varchar(32) NOT NULL,
number int(4) NOT NULL
);

INSERT INTO class_grade VALUES
('A',2),
('C',4),
('B',4),
('D',2);

In [ ]:
"""SQL solution"""
SELECT f.grade
FROM
(SELECT grade, 
 (SELECT SUM(number) FROM class_grade) AS total,
 SUM(number) OVER(ORDER BY grade) AS p, 
 SUM(number) OVER(ORDER BY grade DESC) AS n
 FROM class_grade
) AS f
WHERE f.p >= total/2
AND f.n >= total/2
ORDER BY f.grade

In [1]:
"""pandas dataframe creation"""
import pandas as pd

class_grade = pd.DataFrame([['A', 2],
                            ['C', 4],
                            ['B', 4],
                            ['D', 2]])
class_grade.columns = ['grade', 'number']
class_grade.head()

  grade  number
0     A       2
1     C       4
2     B       4
3     D       2

In [5]:
class_grade['total'] = class_grade['number'].sum()
class_grade['asc'] = class_grade.sort_values(by='grade')['number'].cumsum()
class_grade['desc'] = class_grade.sort_values(by='grade', ascending=False)['number'].cumsum()
class_grade

  grade  number  total  asc  desc
0     A       2     12    2    12
1     C       4     12   10     6
2     B       4     12    6    10
3     D       2     12   12     2

In [9]:
class_grade[(class_grade['asc'] >= class_grade['total']/2) & (class_grade['desc'] >= class_grade['total']/2)].sort_values('grade')['grade']

2    B
1    C
Name: grade, dtype: object