In [ ]:
"""
Given a table actor

CREATE TABLE  actor  (
   actor_id  smallint(5)  NOT NULL PRIMARY KEY,
   first_name  varchar(45) NOT NULL,
   last_name  varchar(45) NOT NULL,
   last_update  datetime NOT NULL);

Add a column create_date after last_update with type DateTime, not null, and a default value of "2020-10-01 00:00:00"
"""

In [ ]:
"""SQL solution"""
ALTER TABLE actor
ADD COLUMN create_date DATETIME NOT NULL DEFAULT '2020-10-01 00:00:00'

In [1]:
"""pandas datafrme creation"""
import pandas as pd

actor = pd.DataFrame([[1, 'Jay', 'Chou', '2021-05-02 02:04:00']],
                     columns=['actor_id', 'first_name', 'last_name', 'last_update'])
actor.head()

   actor_id first_name last_name          last_update
0         1        Jay      Chou  2021-05-02 02:04:00

In [3]:
actor['create_date'] = '2020-10-01 00:00:00'
actor.head()

   actor_id first_name last_name          last_update          create_date
0         1        Jay      Chou  2021-05-02 02:04:00  2020-10-01 00:00:00