In [ ]:
"""Find the date of most recent login for each user from table login, order by user_id ascending"""

In [ ]:
"""SQL table creation and data insertion"""
drop table if exists login;
drop table if exists user;
drop table if exists client;

CREATE TABLE `login` (
`id` int(4) NOT NULL,
`user_id` int(4) NOT NULL,
`client_id` int(4) NOT NULL,
`date` date NOT NULL,
PRIMARY KEY (`id`));

CREATE TABLE `user` (
`id` int(4) NOT NULL,
`name` varchar(32) NOT NULL,
PRIMARY KEY (`id`));

CREATE TABLE `client` (
`id` int(4) NOT NULL,
`name` varchar(32) NOT NULL,
PRIMARY KEY (`id`));

INSERT INTO login VALUES
(1,2,1,'2020-10-12'),
(2,3,2,'2020-10-12'),
(3,1,3,'2020-10-12'),
(4,2,2,'2020-10-13'),
(5,3,2,'2020-10-13');

INSERT INTO user VALUES
(1,'tm'),
(2,'fh'),
(3,'wangchao');

INSERT INTO client VALUES
(1,'pc'),
(2,'ios'),
(3,'anroid'),
(4,'h5');

In [ ]:
"""SQL solution"""
SELECT user_id, MAX(date)
FROM login
GROUP BY user_id
ORDER BY user_id

In [1]:
"""pandas dataframe creation"""
import pandas as pd

# only table login is needed
login = pd.DataFrame([[1,2,1,'2020-10-12'],
                      [2,3,2,'2020-10-12'],
                      [3,1,3,'2020-10-12'],
                      [4,2,2,'2020-10-13'],
                      [5,3,2,'2020-10-13']],
                     columns=['id', 'user_id', 'client_id', 'date'])
login.head()

   id  user_id  client_id        date
0   1        2          1  2020-10-12
1   2        3          2  2020-10-12
2   3        1          3  2020-10-12
3   4        2          2  2020-10-13
4   5        3          2  2020-10-13

In [10]:
# 1
login.groupby('user_id')['date'].agg('max').reset_index()

   user_id        date
0        1  2020-10-12
1        2  2020-10-13
2        3  2020-10-13

In [13]:
# 2
login.groupby('user_id')['date'].max().reset_index()

   user_id        date
0        1  2020-10-12
1        2  2020-10-13
2        3  2020-10-13

In [19]:
# 3
idx = login.groupby('user_id')['date'].transform(max) == login['date']
login[idx][['user_id', 'date']]

   user_id        date
2        1  2020-10-12
3        2  2020-10-13
4        3  2020-10-13